mn-code {
  // max-width: 100%;
  // width: 100%;

  @media (orientation: landscape) and (max-device-width: 599px) {
    font-size: .5em
  }

  code {
    -webkit-overflow-scrolling: touch;
  }

  .hljs {
    -webkit-user-select: none
  }

  .hljs > * {
    -webkit-user-select: all
  }

  .hljs > *::selection * {
    -webkit-user-select: none
  }
}
