html
  meta(name='viewport' content='width=device-width, user-scalable=no')

  block styles
    link(rel='stylesheet' href='docs/vendor.css')
    link(rel='stylesheet' href='dist/mn-code.css')

  style.
    mn-code {
      margin: 0 1em;
      position: relative;
    }

    .demo {
      margin-top: 80px;
    }

body
  h2 mn-code
  include github-corner

  .mn-layout-fullscreen.mn-layout-centered
    .mn-layout-container
      .mn-layout-column.demo
        mn-code.flex.
          # shell script
          say 'hello'

        mn-code.flex.
          <!-- html -->
          <h1>hello</h1>

        mn-code.flex.
          /* css */
          body {background: red}

        mn-code.flex.
          // javascript
          console.log('hello')

  .docs.mn-layout-container
    mn-code.sh.
      # to install this module
      npm install --save mn-code

    p And bundle dependencies and main files in <strong>dist/</strong> with your preferred tool.

    h3 usage

    p Use the tag <strong class="tag">mn-code</strong> and put your code
    mn-code.html.
      <mn-code>
        // a hello world
        console.log('hello')
      </mn-code>

    p will show
    mn-code.js.
      // a hello world
      console.log('hello')

    p the component automatically recognize the language, but if you want specify the language, using a css class. The following classes be available <em>html</em>, <em>css</em>, <em>js</em>, and <em>sh</em> (shell script).
  
  
  block scripts
    script(src='docs/vendor.js')
    script(src='dist/mn-code.js')

