html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
  
  style
    include ../../docs/vendor.css
    include ../../dist/mn-code.css
  
  //- link(rel='stylesheet' href='vendor.css')
  //- link(rel='stylesheet' href='mn-code.css')

  style.
    mn-code {
      margin: 0 1em;
      position: relative;
    }

    .demo {
      width: 100%;
      margin-top: 80px;
    }
body
  h2 mn-code
  include github-corner

  .layout-fullscreen.layout-centered
    .layout-column.demo
      mn-code.sh.
        # shell script
        say 'hello'

      mn-code.html.
        <!-- html -->
        <h1>hello</h1>

      mn-code.css.
        /* css */
        body {background: red}

      mn-code.js.
        // javascript
        console.log('hello')

  script(src='vendor.js')
  script
    //- include ../../docs/vendor.js
    include ../../dist/mn-code.js

  //- script(src='mn-code.js')

